# Graphics
CONFIG_DRM=y
CONFIG_DRM_KMS_HELPER=y
CONFIG_DRM_I915=m
CONFIG_DRM_XE=m
CONFIG_DRM_AMDGPU=m
CONFIG_DRM_RADEON=m
CONFIG_DRM_NOUVEAU=m
CONFIG_DRM_VMWGFX=m
CONFIG_DRM_VIRTIO_GPU=m
CONFIG_DRM_SIMPLEDRM=y
CONFIG_FB=y
CONFIG_FRAMEBUFFER_CONSOLE=y
# Ethernet and Wi-Fi
CONFIG_NETDEVICES=y
CONFIG_ETHERNET=y
CONFIG_E1000=m
CONFIG_E1000E=m
CONFIG_IGB=m
CONFIG_IGC=m
CONFIG_R8169=m
CONFIG_TIGON3=m
CONFIG_WLAN=y
CONFIG_CFG80211=m
CONFIG_MAC80211=m
CONFIG_IWLWIFI=m
CONFIG_IWLMVM=m
CONFIG_ATH9K=m
CONFIG_ATH10K=m
CONFIG_ATH11K=m
CONFIG_RTL8XXXU=m
CONFIG_RTW88=m
CONFIG_RTW89=m
CONFIG_BRCMFMAC=m
# Bluetooth, sound, cameras, and input
CONFIG_BT=m
CONFIG_BT_RFCOMM=m
CONFIG_BT_HIDP=m
CONFIG_BT_HCIBTUSB=m
CONFIG_SND=y
CONFIG_SND_HDA_INTEL=m
CONFIG_SND_HDA_CODEC_HDMI=m
CONFIG_SND_USB_AUDIO=m
CONFIG_SND_SOC=m
CONFIG_HID=y
CONFIG_HID_GENERIC=y
CONFIG_HID_MULTITOUCH=m
CONFIG_HIDRAW=y
CONFIG_INPUT_EVDEV=y
CONFIG_INPUT_TOUCHSCREEN=y
CONFIG_MEDIA_SUPPORT=m
CONFIG_MEDIA_USB_SUPPORT=y
CONFIG_USB_VIDEO_CLASS=m
# Storage and filesystems
CONFIG_ATA=y
CONFIG_SATA_AHCI=y
CONFIG_NVME_CORE=y
CONFIG_BLK_DEV_NVME=y
CONFIG_SCSI=y
CONFIG_BLK_DEV_SD=y
CONFIG_MMC=m
CONFIG_MMC_SDHCI=m
CONFIG_USB_STORAGE=m
CONFIG_UAS=m
CONFIG_EXT4_FS=y
CONFIG_BTRFS_FS=m
CONFIG_XFS_FS=m
CONFIG_F2FS_FS=m
CONFIG_VFAT_FS=y
CONFIG_NTFS3_FS=m
CONFIG_EXFAT_FS=m
CONFIG_ISO9660_FS=m
CONFIG_UDF_FS=m
CONFIG_OVERLAY_FS=y
CONFIG_DM_CRYPT=m
CONFIG_DM_VERITY=m
CONFIG_MD=y
CONFIG_BLK_DEV_DM=y
# USB, firmware, power, sensors, and TPM
CONFIG_USB=y
CONFIG_USB_XHCI_HCD=y
CONFIG_USB_XHCI_PCI=y
CONFIG_USB_EHCI_HCD=y
CONFIG_USB_OHCI_HCD=y
CONFIG_TYPEC=m
CONFIG_THUNDERBOLT=m
CONFIG_ACPI=y
CONFIG_ACPI_BATTERY=m
CONFIG_ACPI_VIDEO=m
CONFIG_I2C=y
CONFIG_I2C_HID_ACPI=m
CONFIG_SPI=y
CONFIG_HWMON=y
CONFIG_THERMAL=y
CONFIG_FW_LOADER=y
CONFIG_EFI=y
CONFIG_EFI_STUB=y
CONFIG_EFIVAR_FS=y
CONFIG_TCG_TPM=y
CONFIG_TCG_TIS=m
CONFIG_TCG_CRB=m
# Containers and virtualization
CONFIG_NAMESPACES=y
CONFIG_CGROUPS=y
CONFIG_SECCOMP=y
CONFIG_KVM=m
CONFIG_KVM_INTEL=m
CONFIG_KVM_AMD=m
CONFIG_VHOST_NET=m
CONFIG_VIRTIO=y
CONFIG_VIRTIO_PCI=y
CONFIG_VIRTIO_BLK=m
CONFIG_VIRTIO_NET=m
CONFIG_9P_FS=m
CONFIG_NET_9P=m
CONFIG_NET_9P_VIRTIO=m
# Security and diagnostics
CONFIG_SECURITY=y
CONFIG_SECURITYFS=y
CONFIG_SECURITY_YAMA=y
CONFIG_SECURITY_LANDLOCK=y
CONFIG_KEYS=y
CONFIG_CRYPTO_USER_API=y
CONFIG_KALLSYMS=y
CONFIG_MAGIC_SYSRQ=y
CONFIG_MODULES=y
CONFIG_MODULE_COMPRESS_ZSTD=y
