[Unit]
Description=Install a signed OmniOS A/B system update
Wants=network-online.target
After=network-online.target data.mount
Requires=data.mount
ConditionACPower=true

[Service]
Type=oneshot
ExecStart=/usr/libexec/omnios-update
Nice=10
IOSchedulingClass=idle
ProtectHome=true
PrivateTmp=true
